        <div id="footer">
            <div id="footer-inner">
			   <p><a href="/"><img src="<%= site.copyright.cpimage1 %>" width="400"/></p>
               <p><a href="/"><img src="<%= site.copyright.cpimage2 %>"  width="400"/></p>
               <p id="copyright">Copyright (c) <%= site.copyright.beginYear %>-<%= site.copyright.endYear %> <%= site.copyright.owner %></p>
            </div>
        </div>
        <% include footer_plugin %>
    </body>
</html>
